{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/cce32a89d0.js" crossorigin="anonymous"></script>    
<script src="https://kit.fontawesome.com/cce32a89d0.js" crossorigin="anonymous"></script>    
<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Home</title>
</head>
<body class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-light " >
    <a class="navbar-brand" href="{% url 'index' %}">iStore</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
      
        <li class="nav-item">
          <a class="nav-link" href="#">{{user.username}}</a>
        </li>
      
        <li class="nav-item">
          <a class=" nav-link" href="{% url 'logout_view' %}">Logout</a>
        </li>
   
     
    </div>
   
  </nav>
    
      <section class="product-section">
        <div class="container">

 
        <br>
      <div class="product-details-container container">
 
        <h4 class="display-4">Your Cart</h4>
     <hr>
        <br>
        {% if not cart  %}

     
        {% endif %}
      
    
        {%  for i in cart %}
       
        <div class="row">
        
            <div class=" col-sm-4 col-lg-3">
    
                     <img src="{{i.product_id.image.url}}"  height=200 width=200 alt="" srcset="">
                </div>
                <div class="col-md-9">
                  <h3 class="text-secondary">{{i.product_name}}</h3>
                  <h2>Rs {{i.price}}</h2>
                  <input type="submit" class=" btn-danger col-md-1 p-1"  name="remove" value="-">
                  <input type="text" name="" class="col-md-1 " id="" value="{{i.quantity}}" disabled>
                  <input type="submit" class=" btn-warning  col-md-1 p-1"  name="add" value="+">
        
                  
               
               

               
    
             </div>
              
                <hr>
        </div>
        {% endfor %}

        <div class="row">
            <div class="col-md-8">
                <h4>Total</h4>
            </div>
            <div class="col-md-3">
                <h4 class="float-right">Rs {{total}}</h4>
            </div>
        </div>
        <div class="row">
            <a href=" " class="btn btn-primary bg-dark col-md-12">Buy Now</a>
        </div>
 
  
  
  </div>
 
</div>
  </div>
<!----  <div class="reviews">

      <form class="d-flex">
        <input class="form-control " type="text" placeholder="Add review" name="review">
        <button class="btn btn " type="submit" style="margin-left:95%;;position: absolute;"><i class="fa fa-check "></i></button>
      </form>

  </div>---->
    </section>

</body>
   
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>    
</body>
</html>