{%  include 'navbar.html' %}
<body class="bg-light">

          <section class="product-section ">
            <div class="container">

    
            <br>
          <div class="product-details-container container">
            {% for message in messages %}
            <div class="alert-info">{{message}}</div>
            {% endfor %}
          
            {% if not cart  %}
            <div class="jumbotron">
              <h1 class="display-4">your cart is empty</h1>

              <a href="/"> <button class="btn buybtn">Continue Shopping</button></a>
            </div>
            {% else %}
            <h4 class="display-4">Your Cart</h4>
            <hr>
         
     
        
            {%  for i in cart %}
           
       
          
            <div class="row">
            
                <div class=" col-6 col-sm-4 col-lg-3 ">
        
                        <img src="{{i.product_id.image.url}}"  height=300 width=200 alt="" srcset="">
                    </div>
                    <div class="col-4 col-sm-4 col-lg-4 col-md-4">
                      <h3 class="text-secondary">{{i.product_id.name}}</h3>
                      <h2>Rs {{i.price}}</h2>
                      <form action="" method="post">
                        {% csrf_token %}
                        <input hidden type="number"  name="pk" value={{i.product_id.id}}>
                        <input type="submit" class=" border-0 col-md-1 p-1"  name="remove" value="-">
                      <input type="text" name="" style="width: 20%;" id="" value="{{i.quantity}}" disabled>
                      <input type="submit" class="border-0 col-md-1 p-1"  name="add" value="+">
                      </form>
                    </div>
                      <div class="col-2 mt-5">
                        <a href="?delete={{i.product_id.name}} " class=" text-dark text-decoration-none">
                          <i class="btn fa fa-remove " style="color: rgb(199, 199, 199);" title="remove from cart"></i>
                        </a>
                        </div>
                    
      
                  
                    <hr>
            </div>
            {% endfor %}

            <div class="row">
                <div class="col-6 col-sm-4 col-lg-3col-md-8">
                    <h4>Total</h4>
                </div>
                <div class="col-6 col-sm-4 col-lg-3 col-md-3">
                    <h4 class="float-right">Rs {{total}}</h4>
                </div>
            </div>
            <div class="row">
                <!-- Button trigger modal -->
              {% if total > 0 %}
              <button type="button" class="btn buybtn" data-toggle="modal" data-target="#exampleModalCenter" >
                Buy Now
              </button>
              {% endif %}
            </div>
            {% endif %}
      
      
      </div>

    
    </div>
    </div>
 

<!-- Modal -->
<div class="modal fade col-md-12" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Order Details</h5>
        <button type="button" class="close border-0 bg-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
          <form action="" method="post" class="form">
            {% csrf_token %}

            <div class="col-md-12 col-6">
              <div class="row ">
                <div class="col-md-6">
                  <input type="text" class="form form-control" value="{{request.user.first_name|title}}" disabled>
                </div>
                <div class="col-md-6 ">
                  <input type="text" class="form form-control" value="{{request.user.last_name|title}}" disabled>
                </div>
            
              </div>

              <div class="col-md-12">
                <input type="email" name="email" id="" class="form form-control " placeholder="Enter email" required>
            
                <input type="number" name="phone" id="" class="form form-control " placeholder="Enter phone number" required>
          
                <input type="address" name="address" id="" class="form form-control" placeholder="Enter address" required>
                
              </div>
             
              <div class="row">
                <div class="col-md-8">
                  <input type="number" name="card-number" id="" class="form form-control"  placeholder="Enter card number" min="1000000000000000" max="9999 9999 9999 9999 "    required >
                </div>
                <div class="col-md-4">
                  <input type="number" name="card-number" id="" class="form form-control" placeholder="cvv" min="100" max="999" required>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-6">
                  <h4 style="color: #7161A2;" class="btn ">Pay amount</h4>
                </div>
                <div class="col-md-6">  <h4 class="btn" style="color:#7161A2 ;float:right"> <i class="fa fa-rupee-sign"></i>{{total}}</h4></div>
             
              </div>
              
              <div class="modal-footer ">
                <button type="button" class="btn " data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn buybtn" name="orderbtn">Place Order</button>
           
            </div>

            </div>
           
            
          </form>
  
      </div>
     
    </div>
  </div>
</div>
    <!----  <div class="reviews">

          <form class="d-flex">
            <input class="form-control " type="text" placeholder="Add review" name="review">
            <button class="btn btn " type="submit" style="margin-left:95%;;position: absolute;"><i class="fa fa-check "></i></button>
          </form>

      </div>---->
        </section>

</body>
  <script >

var flag = 0;
  function navbar() {
    
    if (flag==0) {
      document.getElementById("mobileNavbar").style.display = "block";
      console.log(flag);
      flag++;
    }else {
      document.getElementById("mobileNavbar").style.display = "none";
      console.log(flag);
      flag=0;
    }

  }
  
  </script>
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>