{% include 'navbar.html' %}
<body class="bg-light">
      <section class="product-section">
        <div class="container">
       
        <br>
      <div class="product-details-container">
        <div class="row ">
            <div class=" col-md-6" style="padding:0">

          <img src="{{products.image.url}}" class="mt-5" alt="" class="img-fliud" >
            </div>
            <div class="col-md-6">
                <div class="row mt-5">
                    <h2> {{products.name}}</h2>
                </div>
                <div class="row-desc">
                    <h3 class="text-secondary">{{products.description}}</h3>
                </div>
                <div class="row mt-2">
                    <h3>Rs{{products.price}}</h3>
                </div>
                <div class="row">
                  <div class="container  justify-content-md-center ">
                    {% for message in messages %}
            <div class="alert-info">{{message}}</div>
            {% endfor %}
            </div>
            
                  {% if not request.user.is_authenticated %}
           
                    <a href="{% url 'register' %}" class="btn col-md-3 buybtn">Buy Now</a>
                    <br>
                    <a href="{% url 'login_view' %}" class="btn  bg-warning col-md-3 cart-btn border-0" > add to cart</a>
                  
                 {% else %}
                    <a href="{% url 'buy_product' products.id%}" class="btn col-md-3 buybtn">Buy Now</a>

                  <a href="{% url 'add_to_cart' products.id 1 %}" class="btn  bg-warning col-md-3  border-0 cart-btn" >add to cart</a>
           
                {% if cart.quantity > 0 %} 
             <form action="" method="post">
               {% csrf_token %}
               {% if products.name in list %}
              <div class="d-flex pt-3">
        
                {% if cart.quantity == 0 %}
                <input type="submit" class=" col-md-1 p-1"  name="remove" value="-" disabled>
              {% else %}
              <input type="submit" class=" col-md-1 p-1"  name="remove" value="-">
                {% endif %}
              <input type="text" name="" class="col-md-1 " id="" value="{{cart.quantity}}">
              <input type="submit" class="  col-md-1 p-1"  name="add" value="+">
              </div>
              {% endif %}
             </form>
                  {% endif %} 
                  

                
                {% endif %}
                  </div>

       

            </div>

        </div>
  
  
  
  </div>
</div>
  </div>
<!----  <div class="reviews">

      <form class="d-flex">
        <input class="form-control " type="text" placeholder="Add review" name="review">
        <button class="btn btn " type="submit" style="margin-left:95%;;position: absolute;"><i class="fa fa-check "></i></button>
      </form>

  </div>---->
    </section>

</body>
<script>
  var flag = 0;
 function navbar() {
   
   if (flag==0) {
     document.getElementById("mobileNavbar").style.display = "block";
   
     console.log(flag);
     flag++;
   }else {
     document.getElementById("mobileNavbar").style.display = "none";
   
     console.log(flag);
     flag=0;
   }

 }
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>
</html>