{%  include 'navbar.html' %}

<body class="bg-light">
<div class=" container overflow-hiiden">
        <form class="d-flex" method="POST">
              {% csrf_token %}
              <div class="input-group">
                <input class="form-control col-md-8 search-bar"  type="search" placeholder="Search"
                  name='search' aria-label="Search">
                  <div class="input-group-append">
                    <button class=" btn btn-warning" style="border-radius: 0px 10px 10px 0px;" type="submit" name="submit"><i
                      class="fa fa-search text-white "></i></button>
                  </div>
                 
              </div>
                  
         </form>
          <br>
          <div class="row " id=category>
            <div class="btn-group responsive-filter ">
               <button type="button" class="btn buybtn outline-none dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Category
                    </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="/" class=" text-white text-decoration-none active dropdown-item">All</a>
          
                   <a href="/?category=tablet" class="text-decoration-none dropdown-item"> Tablets</a>
                 
                    <a href="/?category=smartphone " class="text-decoration-none dropdown-item"> Smartphones</a>
                      
                      <a href="/?category=laptop" class=" text-decoration-none dropdown-item">Laptops</a>
                  
                     </div>
              </div>
           </div>
                       
        
              </div>
    

    <section class="product-section mt-5" id='productContainer'>

              <div class="row">
                  <div class="col-md-3 desktop-filter">
                    <ul class="list-group">
                      <a href="/" class=" text-white text-decoration-none">
                        <li class="list-group-item " style="background-color: #7161A2 ;">All Categories
                      </a>
          </li>
          <a href="/?category=smartphone " class=" text-dark text-decoration-none">
            <li class="list-group-item "> Smartphones</li>
          </a>
          <a href="/?category=tablet" class="text-dark text-decoration-none">
            <li class="list-group-item">Tablets</li>
          </a>
          <a href="/?category=laptop" class="text-dark text-decoration-none">
            <li class="list-group-item">Laptops</li>
          </a>
        </ul>
    </div>


    <div class="col-md-12 col-lg-9 col-9 col-12" >
      <div class="product-container row">

        {% for i in products %}
        <div class="card col-6 col-lg-3 col-md-3  border-0" style="padding:0">
          <div class="card-img align-items-center text-center">

            <a href="{% url 'view_product' i.id %}"><img src="{{i.image.url}}"
                class="card-img-top  img-responsive border-0" alt="">
            </a>

          </div>
          <div class="card-body info align-items-center ">
            <h6 class="card-title">{{i.name}}</h6>
            <p class="card-text">Rs {{i.price}}</p>
          </div>

        </div>

        {% endfor %}



      </div>
    </div>


    </div>
    </section>

</body>

<script>
   var flag = 0;
  function navbar() {
    
    if (flag==0) {
      document.getElementById("mobileNavbar").style.display = "block";
      document.getElementById("category").style.display = "none";


      flag++;
    }else {
      document.getElementById("mobileNavbar").style.display = "none";
      document.getElementById("category").style.display = "flex";


      flag=0;
    }

  }
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>

</html>