*{
    outline: none !important;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.view-btn{
    border-radius: 30px;
    background-color: black;
    color:white;
}
.view-btn:hover{
    color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    

}

html {
    scroll-behavior: smooth;
  }

.navbar-brand{
    color:#7161A2 !important;
    
    font-weight:bolder !important;
}
.btn-warning:hover{
    background-color: #4f4177 !important;
    color:aliceblue;
    
}
.btn-warning{
    border: 0 !important;
    color:white;
    background-color: #7161A2 !important;
}
.header .img-fluid{
    animation-name:example;
   margin-right: 5%;
    animation-duration: 1000ms;
    float: right;
}
.hero-div{
    margin:6%;
}
.know-btn{
    border-radius: 30px;
background: transparent;
    color:black;
    border: black 1px solid;
}
.deal-section{
    background-color: rgb(234, 234, 241);
 
}
.deal-section .img-fluid{
    float: right;
    margin-right:30%;
}


.product-container{
    overflow-x: hidden;
    overflow-y: scroll; 
   
}

.payment-summary{
    height: 50%;
}

.product-container{
    height:80%;
}


.product-section .img-fluid{
    float: right;
  
}
.info-div{
    margin-top: 5%;
    margin-left:10%;
}
@keyframes example {
    from {opacity: 10%;}
    to {opacity: 100%;}
  }

.img-div{
    height: 200px;
    overflow: hidden;
}
.deal-section footer{
    justify-content: center;
    color:white
}
.search-bar{
    background-color: rgb(240, 240, 240);
    border-radius: 0px,0px,0px,0px;
    border: 0;
}
.search-btn{
   

  display: block;
  color:black;


 
}
.product-section{
    margin: 1%;
}
.card{
    height: 20rem;
}
.card-img{
    height: 50%;
}
.card-img-top{
    height: 100%;
    width: 56%;
}

.card-body {
 text-align: center;
 text:grey;   
}
.product-section .know-btn{
    border-radius: 10px;
    
}

.product-section .know-btn:hover{
    background-color: black;
    color:white;

}


.form-container{
    background-color:white;
    border-radius: 10px;
}

.product-details-container img
{
    width: 100%;
}

.product-container::-webkit-scrollbar{
    display: none;
  }
 
  
.product-container {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
.responsive-filter, .mobile-navbar,.navbtn{
    display: none;
}
.mobile-nav{

    display: none;
    width: 100%;

    position: absolute;
    background-color: #f1f1f1;
    box-shadow: #f1f1f1;
    margin-top: 20%;
  
}
.cart-btn{
    margin-left: 1%;
    border-radius: 5px;
    color:white;
    
}

.buybtn{
    background-color: #7161A2;
    color:#f1f1f1;
    border-radius: 5px;
    outline: none;
}

.modal-dialog {

    width: 90%;
  }
  .modal-content {
    height: 100%;
    width: 100%;
  }




@media only screen and (max-width: 800px) {
    body {
      background-color: black;
    }
    .desktop-filter{
        display: none;
    }
    .responsive-filter{
        display: inline-flex;
    }
   
     
   
    .navbtn{
        display: block;
        border: 0;
        background: none;
        color:#4f4177;
    }
    .product-details-container .cart-btn{
        margin-top: 1%;
    }
   
    .search-bar{
        margin-left: -4%;
    }
   
    
  }